.card {
    transition: transform .3s ease;
    cursor: pointer;
    width: 420px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: lightgrey;
    margin: auto;
    margin-top:20px;
}

.card:hover {
    transform: scale(1.1);
}

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

